/* Common css */

body {
    margin: 0;
    font-family: Helvetica;
    width: 320px;
    height: 480px;
	background-color:#0e3b72;
    
}

h1 {
    font-size: 1.4em;
}

div.mainContent{
	width: 320px;	
}
/* header */

div#pageTitle h1 {
    position: absolute;
    text-align: center;
    width: 320px;
    margin: 0 auto 0 auto;
    line-height: 50px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-family: Arial, Helvetica;
    font-size: 25px;
}

.icon{
	margin-right: 5px;

}

.arrow{
	margin-left: 5px;
	margin-right: 5px;
}


/* Login */

#loginbox {
	background: #D9E6F3 url('../images/loginboxback.png') repeat-x ;
	padding: 10px 20px ;
	-webkit-border-radius: 5px;
	margin-top: 20px;
}

#loginbox p{
	margin: 8px 0px;
	font-family: arial, helvetica;
	font-size: 15px;
	color: #00264C;
	font-weight: bold;
}

.notice{
	text-align: center;
}

.action{
	background: #F8B423 url('../images/buttonback.png') repeat-x;
	border: 2px solid #FBB824;
	-webkit-border-radius: 5px; 
	font-family: arial;
	font-size: 18px;
	font-weight: bold;
	color:#00264C;
	height:22px;
	width: 241px;
	margin-top: 25px;
	margin-bottom: 20px;
}

.background {
	margin: 0px;
}

.logo {
	margin-left: 6px;
	margin-top: 24px;
}

#contentlogin{
	background: #F7FAFC url('../images/backiphone.png') repeat-x;
}


/* Buscar cargas */

.option {
	list-style-type: none;
	margin: 0px;
}

/* Loadingscreen */

.loading {
	float:right;
	margin-right:140px;
	margin-top:40px;

}

.logoloading {
	margin-left:35px;
	margin-top:15px;
}

/* info "Tomates" */

.label {
	text-align: center;
	font-family: Helvetica neue, Arial;
	font-weight: bold;
	color: #00264C;
}

div#content div#information {
	 width: 300px;
	 margin-left: auto;
	 margin-right: auto;
	 padding-top: 15px;
	-webkit-border-radius: 5px;
}

div#content form input.comprarcontacto {
	-webkit-border-radius: 5px;
	background:#F8B423 url(../images/buttonback.png) repeat-x scroll 0 0;
	border:2px solid #FBB824;
	color:#00264C;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	height:35px;
	margin-bottom:20px;
	margin-left:15px;
	width:270px;
}


/* toolbar */

div#toolbar {
    width: 320px;
    height: 57px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #aebbcb),color-stop(0.5, #8094ae), color-stop(1.0, #6e84a2));
}

div#toolbar div {
    position: absolute;
    overflow: hidden;
    text-align: center;
}

div#toolbar div#leftItem {
    top: 10px;
    left: 10px;
    width: 60px;
}

div#toolbar div#centerItem {
    bottom: 20px;
	width:100%;
    margin-left: 10px;
    height: 30px;
}

div#toolbar div#rightItem {
    top: 10px;
    left: 240px;
    /* right: 10px; ORIGINAL*/ 
    width: 60px;
}

div#toolbar a {
    color:white;
    display: block;
    line-height: 30px;
}

div#toolbar .backButton {
    -webkit-border-bottom-left-radius: 16px 16px;
    -webkit-border-bottom-right-radius: 6px 6px;
    -webkit-border-image: url(../images/backButton.png) 0 5 0 13 stretch stretch;
    -webkit-border-top-left-radius: 16px 16px;
    -webkit-border-top-right-radius: 6px 6px;
    border-width: 0 5px 0 13px;
    width: auto;
    font-size: .9em;
    z-index: 3;
}

div#toolbar .deleteButton,
div#toolbar .regularButton,
div#toolbar .blueButton {
   -webkit-border-radius: 5px;
    overflow: hidden;
    text-align: center;
    width: auto;
    height: 30px;
    font-size: .9em;
    border-left: #5e7088 1px solid;
    border-right: #5e7088 1px solid;
    border-top: #34404e 1px solid;
    border-bottom: #34404e 1px solid;
	padding: 0 2px 0 2px;
}

div#toolbar .deleteButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #aebbcb),color-stop(0.5, #8094ae), color-stop(1.0, #6e84a2));
}

div#toolbar .regularButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #92a4bc),color-stop(0.5, #476997), color-stop(1.0, #4e6c92));
}

div#toolbar .blueButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #6f96e9),color-stop(0.5, #3366cc), color-stop(1.0, #3366cc));
    border: #1a49b3 1px solid;
}

div#content {
    background: #F7FAFC url('../images/backiphone.png') repeat;
	min-height:480px;
	margin: 0;
}


div#content form button.createButton {
    position: absolute;
    bottom: 20px;
    height: 35px;
}

div#content .standardButton {
    -webkit-appearance: none;
    -webkit-border-radius: 8px;
    background: white;
    color: #436395;
    font-size: 15px;
    font-weight: bold;
	width:100%;
    height: 40px;
    border: 1px solid black;
    margin-top:10px;
}

div#content .standardButton a {
    display: block;
    width: 100%;
    color: #436395;
    text-align: center;
    line-height: 40px;
}


/*  text styles  */

.darkBlue {
	color:#7287A4;
}

div#content h2.groupTitle{
	font-size:16px;
	margin: 8px;
	color:#565E70;
}


/* lists */

div#content ul {
    border-top: 1px solid #848284;
    background-color: white;
	margin-bottom:30px;
	-webkit-border-radius: 5px;
}

div#content ul li {
    border-bottom: 1px solid #848284;
	min-height: 40px;
	background: #FFF url('../images/backlist.png') repeat-x;
	-webkit-border-radius: 5px;
}

div#content ul li a {
    display: block;
    color: black;
    font-size: 20px;
    height: 100%;
    width: 100%;
    padding: 15px 0 15px 0;
}
div#content ul li > span  {
    padding: 15px 0 15px 0;
}


div#content ul li div.freight_info {
	display:block;
	float:left;
	width:270px;
}

div#content ul li span.title {
    padding: 0 10px 0 10px;
    font-size: 16px;
	font-weight: bold;
	display: block;
	overflow:auto;
	overflow-x:hidden;
	white-space:nowrap;
}

div#content ul li span.subtitle {
    padding: 0 10px 0 10px;
    font-size: 12px;
	font-weight: normal;
	display: block;
	margin:5px 0px;
}


div#content ul li div.itemLabel {
    float: left;
    width: 45%;
    padding: 15px 0 15px 10px;
    font-weight:bold;
    font-size:14px;
    
}

div#content ul li div.itemValue {
    float: right;
    width: 45%;
    padding: 15px 10px 15px 0;
    font-size: 14px;
}

div#content ul li div.itemValueSpecial {
    float: left;
    width: 90%;
    padding: 15px 10px;
    font-size: 14px;
}

div#content ul li a span.disclosure_indicator {
    background: url('../images/iphone/disclosure.png') no-repeat center right;
    height: 25px;
    width: 35px;
    float: right;
    margin-right: 10px;
	display: inline;
}

div#content ul li a span.detail_disclosure {
    background: url('../images/iphone/disclosure_detail.png') no-repeat center right;
    height: 27px;
    width: 34px;
    float: right;
    margin-right: 10px;
		display: inline;
}




/* Forms */

div#content form,  div#contentlogin form {
   padding: 5px 0 75px 0;
	border: none;
	width:300px;
	margin:0 auto;
	font-size: medium;
}

div#content form ul {
    -webkit-border-radius: 8px;
    background-color: white;
    border: 1px solid #878787;
    display: block;
    font-size: 16px;
    list-style-type: none;
    margin: 0 auto 15px auto;
    overflow: hidden;
    padding: 0;
}

div#content form ul li {
    display: block;
    border-bottom: 1px solid #848284;
    line-height: 40px;
    min-height: 40px;
    width: 300px;
    overflow:hidden;
}

div#content form ul li:last-child {
    border:none;
}


div#content form ul li label {
    float: left;
    display:block;
    color: black;
    line-height: 40px;
    padding: 0;
    margin: 0 20px 0 10px;
    width: 40%;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight:bold;
}

div#content form ul li label.fieldLabel {
	display:none;
}

div#content form input, div#contentlogin form input {
	-webkit-appearance: none;
	width: 258px;
}

div#content form input, div#content form select, div#contentlogin form input{
	font-size:16px;
	height:30px;
}


div#content form input[type="text"], div#content form input[type="password"], div#contentlogin form input[type="text"], div#contentlogin form input[type="password"]{
    width:240px;
    background: #FFF;
    padding: 0 5px 0 10px;
    -webkit-border-radius: 5px;
}

div#content form input[type="checkbox"] {
    background: url('../images/iphone/switch.png') no-repeat center;
		background-position-y: -27px;
    float: right;
    display:block;
    margin:7px 10px 7px 10px;
    line-height:40px;
    height: 27px;
    width: 94px;
}

div#content form input[type="checkbox"]:checked {
    background-position-y: 0;
}

div#content form input[type="radio"] {
	position: relative;
	display:block;
	width:290px;
	height: 40px;
	line-height:40px;
	margin:0;
	-webkit-border-radius: 8px;
}

div#content form input[type="radio"]:checked {
 background: url('../images/iphone/radiobutton.png') no-repeat;
 background-position-x: 100%;
 background-position-y: 50%;
}

div#content form select {
    /*border: 0px;*/
	width:100%;
	height: 30px;
}

div#content form textarea {
	-webkit-appearance: none;
	border: none;
	font-size: medium;
	width:280px;
	line-height:20px;
}


/* Settings */

div#content ul#settings {
    padding: 0;
    margin: 0;
}

div#content ul#settings li.alertMessage{
    text-align: center;
}

div#content ul#settings li span {
	line-height:40px;
}

div#content ul#settings li.alertMessage span.message{
		color: red;
}

div#content ul#settings li span.clientID{
	margin-left:4px;
	font-size:10px;
}
div#content ul#settings li div.itemLabel span.title{
  padding: 0;
	margin:0;
}
div#content div#reset {
    height: 100%;
		width:300px;
    padding:10px;
}

div#content div#reset h4 {
    width: 100%;
		padding:0;
		margin:0;
		margin: 0 8px;
		color:#565E70;
}

div#wait {
	position: absolute;
	top: 0;
	background: url(../images/loading.png) no-repeat; 
	width: 100%; 
	height: 100%; 
	text-align: center
}

div#content form div#loginbox div.button input{
	font-size:18px;
	height:40px;
}

div#content form div#loginbox select{
	background-color:#ccc;
}

div#content div#app_message{
	width:300px;
	height:15px;
	color:white;
	background-color:#222;
	padding:8px;
	border:2px solid #000;
	opacity:0.6;
	font-size:13px;
}