<div id="content">
    <form method="POST" action="<%= url_for :action => :do_login %>">
		
		<img src="/public/images/rutalogo.png" alt="Rutanet" class="logo"/>

        <% if @msg %>
            <p style="color:#ff0000"><%= verbose_error_message(@msg) %></p>
        <% end %>

		<div id="loginbox"><!--El contenedor del login-->

			<p>Correo electr&oacute;nico:</p>
               <input type="text" name="login"  />
			<p>Contrase&ntilde;a:</p> 
               <input type="password" name="password"  />
	
			<div class="button">
				<input type="submit" value="Entrar" name="Login" class="action small_btn">
			</div>
			
		</div>		
    </form>
</div>
